<%- include ('partials/header'); -%>
<div class="ui main text container segment">
    <table class="ui table">
        <thead>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>E-mail</th>
        </thead>
        <tbody>
            <td>
                <%= user.firstname %> 
            </td>
            <td>
                <%= user.lastname %> 
            </td>
            <td>
                <%= user.email %> 
            </td>
        </tbody>
    </table>
    <a href="/" class="ui grey right floated button">Logout</a>
</div>

<%- include ('partials/footer'); -%>